<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asking a question...</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <script src="https://soviet.solutions/js/ask-question.js"></script>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
    <style>
        [data-tab-content] {
            display: none;
        }

        .active[data-tab-content] {
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="/dashboard">
                Comrade Board
            </a>
        </h1>
        <ul>
            <li><a href="/forum">Comrade Forums</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/view/question/all">Questions</a></li>
            <li><a href="/view/answer/all">Answers</a></li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="text-primary">Welcome comrade, we see you have an answer</h1>
        <p>Answer the question below. If you forgot the question we have a view question button</p>

        <button data-tab-target="#edit" class="btn btn-primary edit">Edit The Post</button>
        <button data-tab-target="#preview" class="btn btn-primary preview">Preview The Post</button>
        <button data-tab-target="#view-question" class="btn btn-primary view-question">View The Question</button>

        <div data-tab-content class="active" id="edit">

            <form class="form" action="/request/answer/<%=question.id%>" method="POST">
                <div class="forum-group">
                    <label for="description">Answer</label>
                    <textarea id='description' name="description" required rows="20"> </textarea>
                </div>
                <br>
                <div class="forum-group">
                    <input type="submit" value="Submit the question" class="btn btn-primary">
                </div>
            </form>
            <br>
            <a href="/dashboard" class="btn btn-primary">Discard The Question</a>
        </div>

        <div data-tab-content id="preview">
            <br>
            <h1 id="preview-title">
            </h1>
            <br>
            <div id="markdown">
            </div>
        </div>

        <div data-tab-content id="view-question">
            <br>
            <h1><%=question.title%></h1>
            <br>
            <div id='question-markdown'></div>
        </div>
        <script>
            let markdown = window.markdownit().render(`<%=question.description%>`)
            document.getElementById('question-markdown').innerHTML = markdown
        </script>
    </section>
</body>
</html>