<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comrade Board</title>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/instructions">Instructions</a></li>
        <li><a href="/view/question/all">Questions</a></li>
        <li><a href="/view/answer/all">Answers</a></li>
    </ul>
</nav>
<section class="container">
    <h1>Dashboard</h1>
    <p class="lead welcome">Welcome To The Comrade Board <%=user.username%></p>
    <div class="dash-btns my-2">
        <a href="/edit/profile" class="btn btn-primary">Edit your profile</a>
        <a href="/forum" class="btn btn-primary">Visit the forums</a>
        <a href="/request/question" class="btn btn-primary">Ask a question</a>
        <a href="/administration" class="btn btn-primary">View the administration</a>
    </div>
    <br>
    <h1>Worse Things</h1>

    <div class="dash-btns my-2">
        <a href="/edit/login" class="btn btn-danger">Change your login information</a>
        <a href="/delete/profile" class="btn btn-danger">Delete your account</a>
    </div>
    <br>
    <%if(user.questions.length > 0){%>
        <h2 class="my-2">Questions</h2>
        <table class="table ">
            <thead>
                <tr>
                    <th>Question Title</th>
                    <th>Question Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="questions">
                <%for (const question of user.questions) {%>
                    <td><%=question.title%></td>
                    <td><%=question.description%></td>
                    <td><a class="btn btn-danger" href="/edit/question/<%=question.id%>">Edit This Question</a></td>
                    <td><a class="btn btn-danger" href="/delete/question/<%=question.id%>">Delete This Question</a></td>
                <%}%> 
            </tbody>
        </table>
    <%}%>

    <%if(user.answers.length > 0){%>
        <h2 class="my-2">Answers</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Question Title</th>
                <th>Question Description</th>
                <th>Answer To Question</th>
            </tr>
            </thead>
            <tbody class="answers">
                    <%for (const answer of user.answers) {%>
                        <td><%=answer.title%></td>
                        <td><%=answer.description%></td>
                        <td><%=answer.answer%></td>
                    <%}%>   
            </tbody>
        </table>
    <%}%>

    <%if(user.tokens.length > 0){%>
        <h2 class="hide-sm">Api Keys</h2>
        <table class="table hide-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th> </th>
            </tr>
            </thead>
            <tbody class="keys">
                    <%for (const key of user.tokens) {%>
                        <td><%=key.title%></td>
                        <td><%=key.key%></td>
                        <td>
                            <a class="btn btn-danger" href="/delete/question/<%=question.id%>">Delete this key</a>
                        </td>
                    <%}%> 
            </tbody>
        </table>
    <%}%>
    <hr>
    <br>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
</section>
</body>
</html>

<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non dolor quis odio ultricies condimentum in eget elit. Aliquam id auctor est. Ut maximus, justo non finibus finibus, nunc justo ultrices ex, at tempor neque ante eu ligula. Aenean gravida, erat eu finibus malesuada, leo erat blandit mi, vel imperdiet tellus est sed turpis. Donec id sapien in ex finibus efficitur. Nullam eu ante sed enim tristique auctor a nec purus. Sed risus eros, mattis sed augue fringilla, auctor vehicula orci. Donec malesuada lectus non congue faucibus. -->