<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Back Comrade!</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/instructions">Instructions</a></li>
    </ul>
</nav>
<section class="container">
    <h1 class="large text-primary">To Change Any Information Put In Your Password</h1>
    <% if (typeof errors != 'undefined') { 
        for(let error of errors) {
            %><p class="btn btn-danger"><%= error %></p>
        <%}
    }
    %>
    <form class="form" action="/delete/profile" method="POST">
        <div class="forum-group">
            <label for="username">Username</label>
            <input type="text" id = 'username' name = 'username' value = '<%if(typeof username != 'undefined'){%><%=username%><%}%>' required>
            <small>If you want to change your username</small>
        </div>

        <div class="forum-group">
            <label for="email">Email</label>
            <input type="email" id = 'email' name = 'email' value = '<%if(typeof email != 'undefined'){%><%=email%><%}%>' required>
            <small>If you want to change your email</small>
        </div>

        <div class="forum-group">
            <label for="newPassword">New Password</label>
            <input type="password" id = 'newPassword' name = 'newPassword'>
            <small>If you want to change your password</small>
        </div>
        
        <div class="forum-group">
            <label for="password">Password</label>
            <input type="password" id = 'password' name = 'password' required>
        </div>
        <br>
        <div class="forum-group">
            <input type="submit" value="Save" class="btn btn-danger">
        </div>
    </form>
</section>
</body>
</html>