<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing Profile</title>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/instructions">Instructions</a></li>
        <li><a href="/view/question/all">Questions</a></li>
        <li><a href="/view/answer/all">Answers</a></li>
    </ul>
</nav>
<div class="container">
    <h1>Editing your profile...</h1>
    <p>Or looking to go back to the dashboard?</p>
    <a href="/dashboard" class="my-2">Then click here</a>
    <br>
    <small>To set the image or email to the default, leave blank.</small>

    <% if (typeof errors != 'undefined') { 
        for(let error of errors) {%>
            <p class="btn btn-danger"><%= error %></p>
        <%}
    } %>

    <form class="form" action="/edit/profile" method="POST">
        <div class="forum-group">
            <label for="alias">Alias</label>
            <input type="text" id = 'alias' name = 'alias' value = '<%if(typeof alias != 'undefined'){%><%=alias%><%}%>'>
        </div>
        <div class="forum-group">
            <label for="quote">Quote</label>
            <input type="text" id = 'quote' name = 'quote' value = '<%if(typeof quote != 'undefined'){%><%=quote%><%}%>'>
        </div>
        <div class="forum-group">
            <label for="about">About</label>
            <input type="text" id = 'about' name = 'about' value = '<%if(typeof about != 'undefined'){%><%=about%><%}%>'>
        </div>
        <div class="forum-group">
            <label for="email">Public Email</label>
            <input type="email" id = 'email' name = 'email' value = '<%if(typeof email != 'undefined'){%><%=email%><%}%>'>
        </div>
        <div class="forum-group">
            <label for="image">Profile Image Url</label>
            <input type="text" id = 'image' name = 'image' value = '<%if(typeof image != 'undefined'){%><%=image%><%}%>'>
        </div>
        <br>
        <div class="forum-group">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>