<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Code <%=errorCode%></title>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="/dashboard">
                Comrade Board
            </a>
        </h1>
        <ul>
            <li><a href="/forum">Comrade Forums</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/instructions">Instructions</a></li>
        </ul>
    </nav>
    <section class="landing">
        <div class="dark-overlay">
            <div class="landing-inner">
                <h1 class="x-large">Error Code <%=errorCode%></h1>
                <p class="lead">
                    <%=errorMessage%>
                </p>
            </div>
        </div>
    </section>
</body>
</html>