<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Back Comrade!</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/instructions">Instructions</a></li>
    </ul>
</nav>
<section class="container">
    <h1 class="large text-primary">Welcome Back Comrade!</h1>
    <% if (typeof messages.error != 'undefined') { 
        for(let error of messages.error) {
            %><p class="btn btn-danger"><%= error %></p>
        <%}
    }
    %>
    <form class="form" action="/login" method="POST">
        <div class="forum-group">
            <label for="email">Email</label>
            <input type="email" id = 'email' name = 'email' required>
        </div>
        <div class="forum-group">
            <label for="password">Password</label>
            <input type="password" id = 'password' name = 'password' required>
        </div>
        <br>
        <div class="forum-group">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
    <p class="my-1">
        Not a comrade?
        <a href="/register">Sign Up!</a>
    </p>
</section>
</body>
</html>