<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewing Profile</title>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/instructions">Instructions</a></li>
    </ul>
</nav>
<div class="container">
    <div class="profile-grid my-1">
        <div class="profile-top bg-primary p-2">
            <img class="round-img profile-img" src=<%=user.imgUrl%>>
            <h1 class="large"><%=user.username%></h1>
            <%if(user.alias) {%><p>Also Known As: <%=user.alias%></p><%}%>
            <%if(user.quote) {%><p><i><%=user.quote%></i></p><%}%>
        </div>
        <div class="profile-about bg-light p-2">
            <h2>About</h2>
            <%if(user.about) {%>
                <p><%=user.about%></p>
            <%}else{%>
                <p>None!</p>
            <%}%>
        </div>
        <div class="profile-ranks bg-light p-2">
            <h2>Rank: <%=user.rank%></h2>
            <h2>Can They Send Me To The Gulag?</h2>
            <p><% if(user.rankNum > 2){%>
                <p>Yes, <%=user.username%> can send you to the gulag, don't mess with them!<p><%
            }else{%>
            <p>No, <%=user.username%> can't send you to the gulag.. Yet</p>
            <%}%>
        </div>
        <div class="profile-connections bg-light p-2">
            <h2>Connections</h2>
            <ul>
                <%if(user.website) {%><li><p>Website: <%=user.website%></p></li><%}%>
                <%if(user.discord) {%><li><p>Discord: <%=user.discord%></p></li><%}%>
                <%if(user.publicEmail) {%><li><p>Public Email: <%=user.publicEmail%></p></li><%}%>
                <%if(user.github) {%><li><p>Github: <%=user.github%></p></li><%}%>
            </ul>
        </div>
    </div>
</div>
</body>
</html>