<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comrade Team</title>
    <script src="./js/administration.js"></script>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
<nav class="navbar bg-dark">
    <h1>
        <a href="/dashboard">
            Comrade Board
        </a>
    </h1>
    <ul>
        <li><a href="/forum">Comrade Forums</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/instructions">Instructions</a></li>
    </ul>
</nav>
<div class="container">
    <%
    var type = false
    var info
    if(<%answer%>){
        type = true
        info = <%=answer%>
    } else {
        info = <%=question%>
    }
    %>
    <h1 class="large text-primary">Comrade, this <%if(<%=type%>){%>answer<%}else{%>question<%}%>, it could be capitalistic!</h1>

    <%if(<%=type%>) {
        %><a href="/view/question/<%answer.id%>">View The Question</a><%
    }%>

    <div class="bg-white">
        <h2><%=info.title%></h2>
        <p><%=info.description%></p>
    </div>

    <%if(<%=type%>) {
        %> 
        <h1>Answer To This Question</h1>

        <p><%=answer.answer%></p>
        <%
    %>
</div>
</body>
</html>