<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome New Comrade!</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://soviet.solutions/css/styles.css">
</head>
<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="/dashboard">
                Comrade Board
            </a>
        </h1>
        <ul>
            <li><a href="/forum">Comrade Forums</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/instructions">Instructions</a></li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="large text-primary">Welcome New Comrade!</h1>
        <% if (typeof errors != 'undefined') { 
            for(let error of errors) {%>
                <p class="btn btn-danger"><%= error %></p>
            <%}
        } %>
        <form class="form" action="/register" method="POST">
            <div class="forum-group">
                <label for="username">Username</label>
                <input type="text" id = 'username' name = 'username' value = '<%if(typeof username != 'undefined'){%><%=username%><%}%>' required>
            </div>

            <div class="forum-group">
                <label for="email">Email</label>
                <input type="email" id = 'email' name = 'email' value = '<%if(typeof email != 'undefined'){%><%=email%><%}%>' required>
            </div>

            <div class="forum-group">
                <label for="password">Password</label>
                <input type="password" id = 'password' name = 'password' value = '<%if(typeof password != 'undefined'){%><%=password%><%}%>' required>
            </div>

            <div class="forum-group">
                <label for="password2">Retype Password</label>
                <input type="password" id = 'password2' name = 'password2' value = '<%if(typeof password2 != 'undefined'){%><%=password2%><%}%>' required>
            </div>

            <br>
            <div class="g-recaptcha" data-sitekey="6LdV_boUAAAAAAqiDSmDn7hxqAmo6hc0uVa2wwak"></div>
            <br>
            <div class="forum-group">
                <input type="submit" value="Become A Comrade!" class="btn btn-primary">
            </div>
        </form>
        <p class="my-1">
            Already a comrade?
            <a href="/login">Sign In!</a>
        </p>
    </section>
</body>
</html>
