$primary-color: #ff7b60;
$secondary-color: #6ab7ff;
$dark-color: #2d3551;
$light-color: #ebebeb;
$danger-color: #ff4d46;
$success-color: #56ff9b;
$max-width: 1100px;

@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: #set-text-color($color);
}

$spaceAmounts:(1,2,3,4,5);

@each $space in $spaceAmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

