@import 'config';

.container {
  max-width: $max-width;
  overflow: hidden;
  padding: 0 2rem;
  margin: 6rem auto 3rem;
}


.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: $primary-color
}

.round-img {
  border-radius: 50%;
}

.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
    &-no-boarder {
      border: none;
    }
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
    &-no-boarder {
      border: none;
    }
  }
}

.btn {
  display: inline;
  background: $light-color;
  color: #fff;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-secondary {
    @include set-background($secondary-color);
    &:hover {
      background: lighten($secondary-color, 5%);
    }
  }
  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }
  &.btn-light {
    @include set-background($light-color);
    &:hover {
      background: lighten($light-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }

  &:hover {
    background: lighten($dark-color,20%);
    color:#fff;
  }
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  color: #fff;

  &.alert-primary {
    @include set-background($primary-color)
  }
  &.alert-secondary {
    @include set-background($secondary-color)
  }
  &.alert-dark {
    @include set-background($dark-color)
  }
  &.alert-light {
    @include set-background($light-color)
  }
  &.alert-success {
    @include set-background($success-color)
  }
  &.alert-danger {
    @include set-background($danger-color)
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(40, 44, 52, 0.7);
}

.table {
  th,td {
    padding: 1rem;
    text-align: left;
  }
  th {
    background: $light-color;
  }
}