@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.container {
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
  margin: 6rem auto 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #ff7b60;
}

.round-img {
  border-radius: 50%;
}

.bg-primary {
  background-color: #ff7b60;
  color: #set-text-color #ff7b60;
}
.bg-light {
  background-color: #ebebeb;
  color: #set-text-color #ebebeb;
  border: #ccc 1px solid;
}
.bg-light-no-boarder {
  border: none;
}
.bg-dark {
  background-color: #2d3551;
  color: #set-text-color #2d3551;
}
.bg-success {
  background-color: #56ff9b;
  color: #set-text-color #56ff9b;
}
.bg-danger {
  background-color: #ff4d46;
  color: #set-text-color #ff4d46;
}
.bg-white {
  background-color: #fff;
  color: #set-text-color #fff;
  border: #ccc 1px solid;
}
.bg-white-no-boarder {
  border: none;
}

.btn {
  display: inline;
  background: #ebebeb;
  color: #fff;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #ff7b60;
  color: #set-text-color #ff7b60;
}
.btn.btn-primary:hover {
  background: #ff907a;
}
.btn.btn-secondary {
  background-color: #6ab7ff;
  color: #set-text-color #6ab7ff;
}
.btn.btn-secondary:hover {
  background: #84c3ff;
}
.btn.btn-dark {
  background-color: #2d3551;
  color: #set-text-color #2d3551;
}
.btn.btn-dark:hover {
  background: #364061;
}
.btn.btn-light {
  background-color: #ebebeb;
  color: #set-text-color #ebebeb;
}
.btn.btn-light:hover {
  background: #f8f8f8;
}
.btn.btn-success {
  background-color: #56ff9b;
  color: #set-text-color #56ff9b;
}
.btn.btn-success:hover {
  background: #70ffaa;
}
.btn.btn-danger {
  background-color: #ff4d46;
  color: #set-text-color #ff4d46;
}
.btn.btn-danger:hover {
  background: #ff6660;
}
.btn:hover {
  background: #516093;
  color: #fff;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #ebebeb;
  color: #fff;
}
.alert.alert-primary {
  background-color: #ff7b60;
  color: #set-text-color #ff7b60;
}
.alert.alert-secondary {
  background-color: #6ab7ff;
  color: #set-text-color #6ab7ff;
}
.alert.alert-dark {
  background-color: #2d3551;
  color: #set-text-color #2d3551;
}
.alert.alert-light {
  background-color: #ebebeb;
  color: #set-text-color #ebebeb;
}
.alert.alert-success {
  background-color: #56ff9b;
  color: #set-text-color #56ff9b;
}
.alert.alert-danger {
  background-color: #ff4d46;
  color: #set-text-color #ff4d46;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(40, 44, 52, 0.7);
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #ebebeb;
}

.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
}
.form input[type=text], .form input[type=email], .form input[type=password], .form select, .form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #ff7b60;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #ff7b60;
  opacity: 0.9;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #ff7b60;
}

.landing {
  position: relative;
  background: url("https://i.imgur.com/kKWJBTB.jpg") no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.profile-grid {
  display: grid;
  grid-template-areas: "top profile-top" "about profile-about" "ranks profile-ranks" "connections profile-connections";
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 255px;
}
.profile-grid .profile-about {
  grid-area: about;
}
.profile-grid .profile-ranks {
  grid-area: ranks;
}
.profile-grid .profile-gulag {
  grid-area: gulag;
}
.profile-grid .profile-connections {
  grid-area: connections;
}

.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: start;
  text-align: center;
}
.post img {
  width: 150px;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }

  .dash-btns a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile ul {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
